:root{
	--primaryColor: #0066e7;
	--secondaryColor: #494949;
	--terciaryColor: #94d233;
}


.sectionAbout *{
	overflow: auto;
}





.textTerciary{
	color: var(--terciaryColor)!important;
}

.textPrimary{
	color: var(--primaryColor)!important;
}
.linha{
	width: 80%;
	margin: 0 auto;
	
}
.flex2{
	display: flex;
	flex-wrap: wrap;

}
.flex{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.flexspacearound{
	display: flex;
	justify-content: space-between;
	 flex-wrap: wrap;
}
.flexspacearound2{
	display: flex;
	justify-content: space-around;
	 flex-wrap: wrap;
}
.flexstart{
	justify-content: flex-start;
	margin-top: 50px;
	margin-left: 50px;
}
#topBanner img{
	width: 200px;
}
.itemTopBanner{
	min-height: 500px;
}
.itemTopBanner button{
	width: 200px;
	border: 1px solid var(--primaryColor);
	border-radius: 3px;
	background-color: transparent;
	color: var(--primaryColor);
	font-size: 20px;
}
.itemTopBanner button:hover{
	background-color: var(--primaryColor);
	cursor: pointer;
	color: black;
}
.details img{
	width: 25px;
}
.itemLivro{
	width: 200px;
	
	box-shadow: 0px 0px 8px 0px rgba(212,212,212,1);
	display: inline-block;
	margin: 20px 10px;
	height: 400px;
}
.itemLivro:hover{
	box-shadow: 0px 0px 35px -11px var(--primaryColor);
	cursor: pointer;
}
.itemLivro img{
	width: 100%;
}
.tittle{
	font-family: Montserrat, sans-serif;
	padding: 50px 0;
	margin: 0 0 20px 0 ;
	color: var(--primaryColor);
	box-shadow: 0px 0px 15px 1px var(--primaryColor);
}
.headerTop{
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	width: 90%;
}
.margin{
	padding: 20px 0;
}
.coluna{
	display: inline-block;
}
.col12{
	width: 900px;
}
.col9{
	width: 650px;
}
.col7{
	width: 400px;
}
.col5{
	width: 350px;
}
.col3{
	width: 270px;
}
.col1{
	width: 90px;
}
.col3percent{
	width: 30%;
}
.col5percent{
	width: 50%;
	margin: 0 auto;
}
.col7percent{
	width: 70%;
}
.col8percent{
	width: 80%;
}
.col10percent{
	width: 100%;
}
.logo{
	display: flex;
}
.account{
	display: flex;
	align-items: center;
}
.account label{
	color: #478ac9;
}
.search{
	display: flex;
	justify-content: center;
    align-items: center;
}
.searchForm{
	width: 100%;
	display: flex;
}
.searchForm input{
	width: 83%;
	border: 1px solid var(--primaryColor);
	border-radius: 4px;
	border-radius: 4px 0 0 4px;
	padding: 10px 0;
}
.searchForm input:hover{
	box-shadow: 0px 0px 5px 0px var(--primaryColor);
}
.searchForm button{
	width: 15%;
	display: flex;
	background-color: var(--primaryColor);
	color: white;
	border: none;
	border-radius: 0 3px 3px 0;
	cursor: pointer;
	justify-content: center;
    align-items: center;
}
.searchForm button:hover{
	background-color: #2370b8;
	box-shadow: 0px 0px 5px 0px rgba(71,138,201,1);
}


.navLivros a{
	
	display: flex;
	background-color: var(--primaryColor);
	color: white;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	justify-content: center;
    align-items: center;
    padding: 5px 10px;
}
.navLivros a:hover{
	box-shadow: 0px 0px 5px 0px var(--primaryColor);
}
.sectionAbout{
	background-image: url(images/background.jpg);
	background-size: auto 100%;

	color: var(--primaryColor);
	padding: 25px 0;
	
	font-family: Montserrat, sans-serif;
	box-shadow: 0px 0px 15px 1px var(--primaryColor);

}
.filosofos{
	box-shadow: 0px 0px 10px 1px var(--primaryColor);
	border-radius: 5px;
	width: 100%;
	height: 300px;
	margin: 10px 0;
	overflow: visible;
	
}
.transiction{
	position: relative;
  	height: 200px;
}
.transictimg{
	position: relative;
  	height: 350px;
  	display: flex;
  	justify-content: center;
  	overflow: visible;
}
.transictionline{
	position: absolute;
	transition: 2s;
	opacity: 0;
}
.transictionimg{
	position: absolute;
	transition: 2s;
	opacity: 0;
	overflow: visible;
}

.enable{
	opacity: 1;
}
.psub{
	font-size: 10px;
}
footer{
	color: var(--primaryColor)!important;
	padding: 30px 0;
}
.description{
	border-left: 2px dashed var(--primaryColor);
	padding: 20px 10px;
}
.description2{
	border-left: 2px solid var(--primaryColor);
	padding: 20px 10px;
}
.description2 div{
	display: flex;
	align-items: center;
	margin: 20px 0;
}
.description2 img{
	margin: 0 10px 0 0;
}
.banner{
	min-height: 400px;
}
.menu{
	 flex-direction: row-reverse;
	 justify-content: space-between;
}
.nav-item{
	margin-left: 20px;
}
.conta{
	margin-left: 50px;
}
.active{
	color: var(--primaryColor)!important;
}
.navbar{
	margin: 0 20px;
}
.dashedBorder{
	border-top: 3px dashed var(--terciaryColor);
}